<div class="container">
    
    <div class="row mt-4">

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datas</h5>
                    <h6 class="card-subtitle text-muted">Datas importantes</h6>
                    <p class="card-text">Estas são as datas importantes que você deve estar atento...</p>
                    <a class="card-link" href="#">Mais informações</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datas</h5>
                    <h6 class="card-subtitle text-muted">Datas importantes</h6>
                    <p class="card-text">Estas são as datas importantes que você deve estar atento...</p>
                    <a class="card-link" href="#">Mais informações</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datas</h5>
                    <h6 class="card-subtitle text-muted">Datas importantes</h6>
                    <p class="card-text">Estas são as datas importantes que você deve estar atento...</p>
                    <a class="card-link" href="#">Mais informações</a>
                </div>
            </div>
        </div>

    </div>

</div>
